{% extends 'index.html' %}
{% block blockname %}

<div style="margin-top: 100px;" class="container">
    <h3>Arşivlenen Todo Listesi</h3>
    <hr>
    <form action="/" method="post,get">
      <div class="form-group">

          <button type="submit" class="btn btn-danger">Anasayfa</button>
          
      </div>
      
  </form>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Todo Adı</th>
            <th scope="col">Todo Durum</th>
            <th scope="col">Geri Al </th>

          </tr>
        </thead>
        <tbody>
         {% for todo in todos %}
         <tr>
            {% if todo.archieve == True %}
              <th scope="row">{{ todo.id }}</th>
              <td>{{todo.title}}</td>
              {% if todo.complete == False %}
              <td>Tamamlanmadı</td>
              {% else %}
              <td>Tamamlandı</td>
              {% endif %}
              <td><a href="/geri/{{todo.id}}" class="btn btn-danger">Geri AL</a></td>
            {% else %}
            
            {% endif %}
            
            
            

          </tr>
         {% endfor %}
        </tbody>
      </table>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock blockname %}